{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="heading">Books -  {{ author.name }}</h1>
    <div class="container">
        <div class="grid-card">
            {% if author.books is defined %}
                {% for b in author.books %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ b.photo }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">{{ b.name }}</h4>
                            {% for c in b.categories %}
                                <h5 class="card-title">{{ c.name }}</h5>
                            {%  endfor %}
                            <a href="/book/{{ b.id }}" class="btn btn-primary">More information</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}