{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="heading">List of authors</h1>
    <a href="/author/authorAdd" style="width:100%" class="btn btn-outline-dark btn-block">Add new author</a>
        {% if aut is defined %}
            <table class="table table-hover" style="width: 100%">
                <thead>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                {% for a in aut %}
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.name }}</td>
                        <td><a href="/author/authorEdit/{{ a.id }}" class="btn btn-outline-dark btn-sm">Edit</a></td>
                        <td><button type="button" data-remove="{{ a.id }}" class="but">Remove</button></td>
                        <td><a href="/author/{{ a.id }}" class="btn btn-outline-dark btn-sm">All his books</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/authorRemove.js"></script>
{% endblock %}
